= link_to event_instance_path(exp.event, exp), class: [:experiment, :column, exp.survey_locked == true ? :locked : ''] do
  .content{:"data-equalizer-watch" => '', class: exp.cancelled == true ? 'cancelled' : false}
    - if exp.survey_locked == true
      - if current_user.nil? || current_user.survey.nil? || current_user.survey.completed == false
        .locked_overlay
          .text_overlay= t(:must_complete_survey)
    - if exp.cancelled == true
      .cancelled_header
        .cancelled_title= t :experiment_has_been_cancelled
        .cancelled_meta= t :reschedule_info
    .meta{class: exp.event.slug}
      %span.date= exp.start_at.year.to_s
      = "//"
      %span
        - if exp.event.instances.size > 1
          = exp.event.name
        - else
          = "Experiment "
        = "##{exp.sequence}"
      -#= "//"
    .dates.text-center
      - if exp.event.slug == 'open-time' && exp.survey_locked == false
        .ongoing Ongoing

        - n = exp.event.instances.current
        - unless n.empty?
          - n = n.first
          - if exp == n
            - if exp.event.slug == 'open-time' && exp.survey_locked == false
              - if @temporary_is_open == true
                .next Open now!
              - else
                .next Currently not open, check back soon
            - else
              .next Happening now!
          - else
            - if exp.end_at < Time.now  
              .next Happened on:
            - else 
              .next Next at:

          
        .ongoing_month
          - if exp.event.slug == 'open-time' && exp.survey_locked == false
            - if @temporary_is_open == true
              = l exp.start_at, format: '%B'
          - else
            = l exp.start_at, format: '%B'
        .days
          - if exp.event.slug == 'open-time' && exp.survey_locked == false
            - if @temporary_is_open == true
              .day= Time.current.to_date.day.to_s
            - else
              every day!
          - else
            .day= exp.start_at.day
          - if exp.event.slug == 'open-time'   && exp.survey_locked == false
            .times
              
              - if @temporary_is_open == true
                All the time
              - else
                
          - else
            .times
              -if exp.end_at.nil?
                =  exp.start_at.strftime("%H:%M") 
              - else
                =  exp.start_at.strftime("%H:%M") + " - " + exp.end_at.strftime("%H:%M")
      - else
        .month= l exp.start_at, format: "%B"
        .days
          - if exp.event.instances.size == 1
            - if exp.start_at.to_date == exp.end_at.to_date
              .day= exp.start_at.day
              .times= exp.start_at.strftime("%H:%M") + " - " + exp.end_at.strftime("%H:%M")
            - else
              .range_day= exp.start_at.day
              .divider= fa_icon('angle-down')
              .range_day= exp.end_at.day
          - else
            - if exp.start_at.to_date == exp.end_at.to_date || exp.survey_locked == true
              .day= exp.start_at.day
              .times
                - if exp.end_at.strftime("%H:%M") == '23:59'
                  = exp.start_at.strftime('%H:%M') + " - ??"
                - else
                  = exp.start_at.strftime("%H:%M") + " - " + exp.end_at.strftime("%H:%M")
            - else 
              .range_day= exp.start_at.day.to_s
              .divider= fa_icon('angle-down')
              - if exp.start_at.month != exp.end_at.month
                .month= l exp.end_at, format: "%B"
              .range_day= exp.end_at.day

    .title.text-center=  exp.name
    .body.text-center= truncate_html(strip_tags(exp.description.gsub(/\s*(&nbsp;\s*)+/, " ")), length: 110)
    
    - unless exp.in_future?
      .participants
        = t(:x_people_participated, count: exp.users.size + exp.onetimers.unclaimed.size, people: t(:person, count: exp.users.size + exp.onetimers.unclaimed.size))

      .temps
        = t(:x_earned, number: (exp.users.uniq.size * exp.cost_bb)) #, page_path('what-is-this-t-everywhere')
    - else
      .earn_line

        = t(:earn_x_per_day_for_participating, number: exp.cost_bb, per_day: exp.allow_multiple_entry == true ? t(:per_day) : '')

        - if exp.request_registration == true
          .red
            
            - if exp.is_full?
              = t :sorry_no_more_space_left
            - else
              = t :you_must_register_in_advance
              - unless exp.max_attendees.blank?
                = t(:there_are_x_places_left, is_number_place: t(:place_in_registration, count: exp.max_attendees - exp.registrations.not_waiting.size))

            
      - if controller.action_name == 'index'
        - if exp.event.collapse_in_website == true
          - unless exp.event.instances.future.published.to_a.delete_if{|i| i == exp}.empty?
            .collapsed
              .also_meets= t :also_meets
              = exp.event.instances.future.published.to_a.delete_if{|i| i == exp}.map{|x| l(x.start_at.to_date , format: :short)}.join(', ')
