%article.instance_single
  .row.expanded
    .small-10.medium-10.large-7.columns
      .post
        .meta
          %span.date= date_range(@instance.start_at, @instance.end_at)
          = " // "
          %span.category 
            - if @experiment.instances.size > 1
              = link_to @experiment.name, @experiment
            - else
              = "Experiment "
          = " // "
        .title
          = "Experiment ##{@instance.sequence}:"
          = @instance.name
        - if @instance.image?
          = image_tag @instance.image.url.gsub(/development/, 'production')
        - elsif @experiment.image?
          = image_tag @experiment.image.url.gsub(/development/, 'production')
        .body= raw @instance.description

  - unless  @instance.users.empty? && @instance.onetimers.empty?
    .row.expanded
      .small-10.medium-6.columns
        .participant_header Participants:
        %ul
          - @instance.users.each do |attended|
            %li= link_to attended.display_name, attended
          - @instance.onetimers.unclaimed.each do |onetimer|
            %li= "Anonymous person who entered at #{onetimer.created_at.strftime('%H:%M')}"