= semantic_form_for [:admin, @proposal], html: {multipart: true} do |f|
  .row.expanded
    .small-12.columns
      = f.input :name
      = f.input :short_description
      = f.input :timeframe
      = f.input :goals
      = f.input :intended_participants
      = f.input :proposalstatus, as: :select
      .row
        .small-10.medium-6.columns= f.input :duration, label: 'Duration (in days) of each session', input_html: {required: ''}
      .row
        .small-10.medium-6.columns= f.input :is_month_long, label: 'Runs for entire month?', hint: 'Use for Open Time; overrides "duration" above', input_html: {required: ''}
      = f.fields_for comment = @proposal.comments.build(user: current_user) do |comment|
        %p Add a comment on status change
        = comment.input :content, as: :text
        = comment.input :user, as: :select
      = f.input :stopped, hint: 'Tick this to stop experiment, stop accepting pledges, etc.'
      = f.submit 'Save'