
.row
  .small-12.columns
    %h4 All proposals

    %table
      %thead
        %th db id#
        %th Title
        %th Initial proposal by
        %th
          Pledged 
          = raw tsign
        %th &nbsp;    
      %tbody
        - @proposals.each do |proposal|
          %tr
            %td
              %small= proposal.id.to_s
            %td
              = proposal.name
              - if proposal.proposalstatus 
                %br/
                %strong= proposal.proposalstatus.name
                
            %td
              = proposal.user.name
            %td= proposal.pledged.to_s
            %td
              = link_to 'View', proposal, target: :_blank, class: [:button, :small]
              - if can? :edit, proposal
                = link_to 'Edit', edit_admin_proposal_path(proposal), class: [:button, :small]
              - if can? :destroy, proposal
                = link_to 'Delete', [:admin, proposal], method: :delete, class: [:button, :small, :alert], data: {confirm: 'Are you sure?'}