- unless @experiment.errors.empty?
  .row
    .small-10.medium-4.columns.errors
      = @experiment.errors.full_messages.join('! ')
= semantic_form_for [:admin, @experiment], html: {:"data-abide" => true, multipart: true} do |f|
  .row
    .small-10.medium-4.columns= f.input :place, input_html: {required: ''}
  .row
    .small-10.medium-4.columns= f.input :parent
  .row
    .small-10.medium-4.columns= f.input :proposal, as: :select, collection: f.object.new_record? ? Proposal.schedulable.map{|b| [raw(b.name + " (" + b.remaining_pledges.to_s + tsign + " available)"), b.id]} : Proposal.all.map{|b| [raw(b.name + " (" + b.remaining_pledges.to_s + tsign + " available)"), b.id]},   hint: 'Temps will not be spend until the first meeting is created', label: 'Proposal:'    , input_html: {:required => ''}
  .row
    .small-10.medium-4.columns= f.input :cost_euros
  .row
    .small-10.medium-4.columns= f.input :cost_bb, label: "Number of " + ENV['currency_symbol'] + " received for attending", input_html: {required: ''}
  .row
    .small-10.medium-6.columns= f.input :start_at, :as => :string,  :input_html => {required: '', class: 'datetimepicker', value: f.object.new_record? ? '' : (f.object.start_at.nil? ? '' : f.object.start_at.strftime('%Y-%m-%d %H:%M'))}, label: 'Starting date and time. This can be vague since it may change. '
  .row
    .small-10.medium-6.columns= f.input :end_at, :as => :string, :input_html => {:class => 'datetimepicker', value: f.object.new_record? ? '' : (f.object.end_at.nil? ? '' : f.object.end_at.strftime('%Y-%m-%d %H:%M'))}, :label => "Ending date and time of last event, if known. You will add individual intances later.", :hint => 'if events run past midnight, put them as 23:59 '
  .row
    .small-10.medium-4.columns= f.input :sequence, label: 'Temporary experiment #' 
  .row
    .small-10.medium-8.columns
      %ul.tabs#experiment_tabs{"data-tabs" => ""}
        - I18n.available_locales.each_with_index do |locale, i|
          %li.tabs-title{:class => (i == 0 ? 'is-active' : false)}
            = link_to t(:locale_name, :locale => locale), "##{locale}"
      .tabs-content{:'data-tabs-content' => 'experiment_tabs'}
        - I18n.available_locales.each_with_index do |locale, i|
          .tabs-panel{:class => (i == 0 ? "is-active" : false), :id => "#{locale}"}
            = f.globalize_fields_for locale do |en|
              .row
                .small-12.columns
                  %b= "Name of experiment in #{t :locale_name, :locale => locale}"
                  = en.text_field :name, :required => (locale == :en ? '' : false)
                  - if locale == :en
                    %small.error You must enter an English name for the experiment.
              .row
                .small-12.columns
                  %b= "Description of event in #{t :locale_name, :locale => locale}"
                  = en.cktext_area :description
  .row
    .small-10.medium-4.columns= f.input :primary_sponsor, input_html: {required: '', class: :chosen_select}
  .row
    .small-10.medium-4.columns= f.input :collapse_in_website, label: 'Collapse sub-experiments on website?', hint: 'Tick this if the sub-events will have similar names ie: "Trashlab #1", "Trashlab #2", so the website will only show the next upcoming one'
  .row
    .small-10.medium-8.columns
      - if f.object.image?
        = image_tag f.object.image.url(:box)
        = f.input :image, label:  'Change image'  
      - else
        = f.input :image, input_html: {required: ''}, label:  'Image'
  .row
    .small-10.medium-8.columns= f.input :published
  .row
    .small-10.medium-8.columns= f.submit 'Save', class: [:button]
    
  

= content_for :jquery do
  :plain
    $('.datetimepicker').fdatetimepicker({ weekStart: 1 })
    $('.chosen_select').chosen();