.row
  .small-12.columns

    = link_to 'Make new', new_admin_event_path, class: [:button]
.row
  .small-12.columns
    %h4 All experiments
    
    %table.experiments
      %thead
        %th db id#
        %th biathlon experiment #
        %th name
        %th when?
        %th &nbsp;
      %tbody
        - @experiments.each do |exp|
          %tr
            %td= exp.id.to_s
            %td
              = exp.sequence
              %br/
              = link_to 'Edit master experiment', edit_admin_event_path(exp), class: [:button, :tiny]
            %td= exp.name
            %td= date_range(exp.start_at, exp.end_at)
            %td
              - if can? :delete, exp
                = link_to 'Delete', [:admin, exp], method: :delete, data: {confirm: 'Are you sure?'}, class: [:button, :alert, :tiny]

          %tr.instance
            %td &nbsp;
            %td{colspan: 3 }
              %table.instances
                %thead
                  %th Instance id#
                  %th biathlon experiment #
                  %th Name
                  %th When?
                  %th &nbsp;
                %tbody
                  - exp.instances.sort_by(&:start_at).each_with_index do |instance, index|
                    %tr
                      %td= instance.id.to_s
                      %td
                        = instance.sequence
                        %br/
                        = link_to 'Edit instance', edit_admin_event_instance_path(exp, instance), class: [:button, :tiny, :secondary]
                        %br/
                        = link_to 'View', event_instance_path(exp, instance), class: [:button, :tiny, :secondary], target: :_blank
                      %td
                        = instance.name
                        = " (session #{instance.session_number.to_s})"
                        %br/
                        Cost:
                        = raw "#{instance.cost_in_temps}#{tsign}"
                        - if instance.is_meeting?
                          %br/
                          %strong Meeting
                        - if instance.proposal
                          - if instance.proposal.scheduled
                            %br/
                            %strong
                              %em
                                Scheduled from proposal
                                = link_to instance.proposal.name, instance.proposal, target: :_blank
                        - if instance.request_rsvp?
                          %strong - RSVP requested
                        - if instance.request_registration?
                          %strong - Registration requested        
                      %td
                        = date_range(instance.start_at, instance.end_at)
                        - if instance.published != true
                          %strong NOT YET PUBLISHED!!

                      %td
                        - if can? :delete, instance
                          = link_to 'Delete', [:admin, exp, instance], method: :delete, data: {confirm: 'Are you sure?'}, class: [:button, :alert, :tiny]
                        
                  %tr
                    %td{colspan: 4}= link_to 'Add new instance', new_admin_event_instance_path(exp), class: [:button, :small]

