= semantic_form_for [@item, @pledge] do |f|
  .row
    .small-10.medium-6.columns
      %p 
        You have
        = "#{current_user.latest_balance}#{ENV['currency_symbol']}"
        available to pledge to this.
      %p
        How many 
        = ENV['currency_full_name'].pluralize
        would you like to pledge?
  .row
    .small-2.medium-2.columns= f.input :pledge, label: 'Your pledge:'
    
  .row
    .small-10.medium-6.columns= f.input :comment, label: 'Any comments on your pledge?'
  .row
    .small-10.medium-6.columns
      = f.submit 'Pledge!', class: [:button, :small]
      - unless f.object.new_record?
        = link_to 'Delete your pledge!', [f.object.item, f.object], method: :delete, class: [:button, :small, :alert], data: {confirm: "Are you sure? Your #{ENV['currency_symbol']} will be restored to your full balance."}
  