
.row.expanded
  .small-10.medium-8.panel.callout.small-centered
    %p
      %strong= t(:temporary_closed)
= semantic_form_for [@item, @pledge], html: {onSubmit: "return getContentEmptyOK();", multipart: true, :"data-abide" => '' } do |f|
  .row.expanded
    .small-10.medium-9.columns
      %p 
        = t(:amount_available_to_pledge, number: current_user.available_balance + @pledge.pledge.to_i)

      - if @item.has_enough?
        - if @item.recurs?
          - if @item.total_needed_with_recurrence > @item.pledged
            %p= t(:multiday_experiments)
            
            - if @item.intended_sessions == 0
              %p= t(:indefinite_proposal)
              %p
                - unless @item.instances.published.empty?
                  = t(:experiment_scheduled_to_happen_x_times, number_of_times: @item.instances.published.size.to_s + " " + t(:meeting_time_instance, count: @item.instances.published.size))

                There are currently enough Temps pledged 
                = raw "(#{@item.remaining_pledges}#{tsign})"
                to schedule
                = pluralize(@item.number_that_can_be_scheduled.to_s, @item.instances.published.empty? ? 'meeting' : 'more meeting') + "."
            - else
              %p
                This experiment is proposed to happen
                = @item.intended_sessions.to_s
                times. 
                - unless @item.instances.published.empty?
                  = t(:experiment_scheduled_to_happen_x_times, number_of_times: @item.instances.published.size.to_s + " " + t(:meeting_time_instance, count: @item.instances.published.size))
                  
                = t(:currently_enough_temps, number_of_temps: @item.remaining_pledges, number: @item.number_that_can_be_scheduled.to_s, possible_meetings: t(:more_meetings, count: @item.number_that_can_be_scheduled.to_s))

                
        - else
          - unless @next_meeting.nil?
            %p
              This proposal already has enough pledges and will be reviewed for scheduling at the next meeting,
              = link_to(@next_meeting.name, experiment_instance_path(@next_meeting.experiment, @next_meeting), target: :_blank) + "."
              You may still pledge additional Temps towards it, however.
      - else
        - if @item.recurs?
          - if @item.total_needed_with_recurrence > @item.pledged
            %p= raw "This experiment is proposed to meet multiple times. At Temporary, multi-day experiments cost Temps for each day it meets, with a 10% discount applied to each successive day (until it gets down to 20#{tsign}, the minimum cost in Temps)."
            
            - if @item.intended_sessions == 0
              %p This proposal does not specify how many times it will meet, so it will continue indefinitely.
              %p
                - unless @item.instances.published.empty?
                  = t(:experiment_scheduled_to_happen_x_times, number_of_times: @item.instances.published.size.to_s + " " + t(:meeting_time_instance, count: @item.instances.published.size))
                  
                = t(:currently_enough_temps, number_of_temps: @item.remaining_pledges, number: @item.number_that_can_be_scheduled.to_s, possible_meetings: t(:more_meetings, count: @item.number_that_can_be_scheduled))  

                - if @item.number_that_can_be_scheduled == 0
                  = t(:needs_to_happen_again, number: @item.needed_for_next - @item.remaining_pledges, again: @item.published_instances > 0 ? ' again.' : '.' )

            - else
              %p
                This experiment proposes to meet  
                = @item.intended_sessions.to_s
                times. 
              %p
                = raw "#{@item.needed_for_next.to_s}#{tsign} are needed to scheduled the #{@item.instances.published.empty? ? 'first' : 'next'} meeting."
                - if @item.needed_for_next != @item.total_needed_with_recurrence
                  = raw "#{@item.total_needed_with_recurrence} total #{tsign} are needed to schedule all proposed meetings."
              
              %p
                There are currently enough Temps pledged 
                = raw "(#{@item.pledged}#{tsign})"
                to schedule
                = pluralize(@item.number_that_can_be_scheduled.to_s, 'meeting') + "."
        - else
          - if @item.class == Proposal
            = t(:proposal_needs_x_for_review, number: @item.needed_for_next - @item.remaining_pledges)
          - else
            = t(:x_needed_to_schedule_next, amount:@item.needed_for_next - @item.remaining_pledges, meeting_number: @item.instances.published.size + 1 )

          
        / %p
        /
        /   You may pledge a maximum of
        /   = raw "#{@item.maximum_pledgeable(current_user)}#{tsign}"
        /   to this proposal.
        - if @item.pledges.map(&:user).uniq.compact.size < 2 && @item.class == Proposal
          %p 
            %em (All proposals require at least two supporters before they can be scheduled).


      - if @api_status == false
        %p= t(:biathlon_api_offline)
        
      - elsif current_user.available_balance < 1
        %p= t :no_temps_to_pledge
        - unless f.object.new_record?
          = link_to t(:delete_your_pledge), [f.object.item, f.object], method: :delete, class: [:button, :small, :alert], data: {confirm: t(:confirm_pledge_withdrawal)} 
      - else
        = content_for :jquery do
          :plain
            $("#comment_input").mentionable("/users/mentions", {position: 'right'});
        %h3
          = t(:how_many_to_pledge, currency: ENV['currency_full_name'].pluralize)

        = f.input :pledge, label: t(:your_pledge_with_max, max: @item.maximum_pledgeable(current_user)), input_html: {required: '', :'data-validator' => 'less_than', :'data-less-than' => @item.maximum_pledgeable(current_user), type: :number}
    

        %label= t(:comments_on_pledge)
        %p.small
          %u= t(:tagging)
          %br/
          %em= t(:people_tagging)
          %br/
          %em= t(:experiment_tagging) 
        #comment_wrapper
          #comment_input{contenteditable: true}= f.object.new_record? ? '' : raw(f.object.comment)

        -#= f.input :content, :label => false, input_html: {:required => '', id: :comment_input_textarea}
        
        = f.input :comment, label: false,  as: :text, input_html: { id: :comment_input_textarea }
        = f.submit t(:pledge_verb), class: [:button]
        - unless f.object.new_record?
          = link_to t(:delete_your_pledge), [f.object.item, f.object], method: :delete, class: [:button, :small, :alert, :delete_pledge], data: {confirm: raw(t(:confirm_pledge_withdrawal))}
  
= content_for :jquery do
  :plain
    Foundation.Abide.defaults.validators['less_than'] =
    function($el,required,parent) {
      // parameter 1 is jQuery selector
      if (!required) return true;
      var from = $('#pledge_pledge').attr('data-less-than');
      var to = $el.val();
      // alert('to is ' + parseInt(to) + ' and should be less than or equal to ' + parseInt(from));
      return (parseInt(to) <= parseInt(from));

    };