= semantic_form_for [@item, @pledge] do |f|
  .row
    .small-10.medium-6.columns
      %p 
        You have
        = "#{current_user.available_balance + @pledge.pledge.to_i}#{ENV['currency_symbol']}"
        available to pledge to this.
      %p
        Currently,
        = @current_rate.to_s + ENV['currency_symbol']
        are needed before an experiment can be reviewed for scheduling. This proposal
        - if @item.has_enough?
          has enough and will be reviewed at the next organisational activity,
          = link_to Instance.next_meeting.name, Instance.next_meeting
          = "."
        - else
          needs
          = "#{@current_rate - @item.pledged}#{ENV['currency_symbol']}"
          more.
          
      
      %p
        How many 
        = ENV['currency_full_name'].pluralize
        would you like to pledge?
  .row
    .small-2.medium-2.columns= f.input :pledge, label: 'Your pledge:'
    
  .row
    .small-10.medium-6.columns= f.input :comment, label: 'Any comments on your pledge?'
  .row
    .small-10.medium-6.columns
      = f.submit 'Pledge!', class: [:button, :small]
      - unless f.object.new_record?
        = link_to 'Delete your pledge!', [f.object.item, f.object], method: :delete, class: [:button, :small, :alert], data: {confirm: "Are you sure? Your #{ENV['currency_symbol']} will be restored to your full balance."}
  