= semantic_form_for [@item, @pledge] do |f|
  .row
    .small-10.medium-6.columns
      %p 
        You have
        = raw("#{current_user.available_balance + @pledge.pledge.to_i}#{tsign}")
        available.
      - if @item.has_enough?
        - unless @next_meeting.nil?
          %p
            This proposal already has enough pledges and will be reviewed for scheduling at the next meeting,
            = link_to(@next_meeting.name, experiment_instance_path(@next_meeting.experiment, @next_meeting), target: :_blank) + "."
            You may still pledge additional Temps towards it, however.
      - else
        %p
          This proposal still needs 
          = raw "#{@current_rate - @item.pledged}#{tsign}"
          to be considered for scheduling.
          
        %p
          Currently,
          = raw @current_rate.to_s + tsign
          are needed before an experiment can be reviewed for scheduling.
          You may pledge a maximum of
          = raw "#{@item.maximum_pledgeable(current_user)}#{tsign}"
          to this proposal.
          
        %p 
          %em (All proposals require at least two supporters before they can be scheduled).


      - if @api_status == false
        %p We're sorry, the Biathlon API is currently offline. Please try again later.
      - elsif current_user.available_balance < 1
        %p You do not currently have any Temps available to pledge.
        - unless f.object.new_record?
          = link_to 'Delete your pledge!', [f.object.item, f.object], method: :delete, class: [:button, :small, :alert], data: {confirm: "Are you sure? Your #{tsign} will be restored to your full balance."} 
      - else
        %p
          How many 
          = ENV['currency_full_name'].pluralize
          would you like to pledge?
        .row
          .small-2.medium-2.columns= f.input :pledge, label: 'Your pledge:'
    
        .row
          .small-10.medium-6.columns= f.input :comment, label: 'Any comments on your pledge?'
        .row
          .small-10.medium-6.columns
            = f.submit 'Pledge!', class: [:button, :small]
            - unless f.object.new_record?
              = link_to 'Delete your pledge!', [f.object.item, f.object], method: :delete, class: [:button, :small, :alert], data: {confirm: "Are you sure? Your #{tsign} will be restored to your full balance."}
  