.row.expanded
  .small-10.columns.medium-8
    %h1 Pledge complete!
    
.row.expanded
  .small-10.columns.medium-8
    %p
      You have pledged
      = raw "#{@pledge.pledge}#{tsign}"
      towards
      %em= link_to @pledge.item.name, @pledge.item

    
.row.expanded
  .small-10.columns.medium-8
    %p
      Your
      = raw pluralize(@pledge.pledge, ENV['currency_full_name'])
      are currently held in escrow. They will be officially deducted from your balance when the proposal is actually scheduled, and returned to you if the proposal is cancelled or withdrawn.
    
.row.expanded
  .small-10.columns.medium-8
    %p You may also edit or withdraw your pledge any time until the proposal is scheduled.
    
.row.expanded
  .small-10.columns.medium-8
    = link_to 'Return to proposal list', proposals_path, class: [:button]