.calendar_view.room_bookings
  .row.expanded
    .small-12.columns
      %h1
        = t :room_bookings

  .row.expanded
    .small-12.columns
      %p
        = raw t(:small_back_room_blurb)
        = raw link_to("(#{t(:how_do_i_get_temps)})", page_path('how-do-i-get-temps')  )
      %p= raw t(:room_specs, squared: raw("<sup>2</sup>"))
      %p= raw t(:room_blurb_2)
        
  .row.expanded
    .small-12.columns
      -#= link_to fa_icon('download') + " Calendar", calendar_experiments_path(format: 'ics'), class: [:button, :small]
  .row.expanded
    #calendar.small-centered
  
  = content_for :jquery do
    = render partial: 'calendar', formats: [:js]

    