.edit_profile
  .row.expanded
    .medium-8.small-10.columns
      %h1
        Your profile
        %small= link_to 'View', @user, class: [:button, :small]
      
    
  = semantic_nested_form_for @user, html: {multipart: true} do |f|
    .row.expanded
      .small-10.medium-8.columns
        = f.input :email, label: 'Email'
        = f.input :username
        = f.input :name, label: ' Your name:'
        = f.input :show_name, label: 'Show your name on site?', hint: 'If this is not ticked, then only your username will be displayed.'

    
        .subsection
          %h3 ID cards:
          .info
            - if @user.nfcs.empty?
              %em No ID cards yet
            - else
              - @user.nfcs.each do |card|
                .row
                  .small-12.columns
                    = card.tag_address
                    
        .subsection
          %h3 Biathlon accounts
          .info
            - if @user.accounts.empty?
              %em No Biathlon activity yet
            - else
              - @user.accounts.each do |account|
                .row
                  .small-6.columns
                    = account.address
                  .small-4.columns
                    Balance:
                    = account.balance
                  .small-2.columns
                    %strong
                      - if account.primary_account == true
                        primary
                      - else
                        = link_to 'Set as primary', set_as_primary_user_account_path(@user, account), class: [:button, :tiny, :secondary]

          = f.fields_for :accounts do |ff|
            - next unless ff.object.new_record?
            .row
              .small-6.columns= ff.input :address, label: 'Your Ethereum account #', hint: '(Should start with 0x!)'
            = ff.input :external, as: :hidden, input_html: {value: 1}
          = f.link_to_add 'Add new account', :accounts
                      
          
      .small-10.medium-4.columns.photo
        - if f.object.avatar?
          = image_tag f.object.avatar.url(:small)
          = f.input :avatar, label: 'Change image/photo:', hint: 'Keep it decent, please....'
        - else
          = image_tag 'user_missing_large.png'
          = f.input :avatar, label: 'Change image/photo:', hint: 'Keep it decent, please....'

    .row.expanded
      .small-12.columns= f.submit t(:save), class: [:button, :small]
  