$("#organiser_info_<%= @user.id.to_s %>").html("<%= t(:organiser) %>");


$("#organiser_info_<%= @user.id.to_s %>").append("<a href='<%= experiment_user_remove_organiser_path(@experiment, @instance, @user) %>' data-remote='true' class='button alert tiny'><%= t(:remove_organiser) %></a>");