.user_profile
  .row.expanded
    .small-12.columns
      .name
        = @user.display_name
        - unless @user.authentications.empty?
          - unless @user.authentications.select{|x| x.provider == 'facebook' }.empty?
            - if @user.show_facebook_link
              = link_to fa_icon('facebook'), "http://facebook.com/#{@user.authentications.select{|x| x.provider == 'facebook'}.first.uid}", target: :_blank
          - unless @user.authentications.select{|x| x.provider == 'twitter' }.empty?
            - if @user.show_twitter_link
              = link_to fa_icon('twitter'), "http://twitter.com/#{@user.authentications.select{|x| x.provider == 'twitter'}.first.username}", target: :_blank

      .since
        = "user since #{l @user.created_at.to_date, format: :long}"
        = " (#{time_ago_in_words(@user.created_at)})"
  .row.expanded
    .small-10.medium-4.columns
      - if @user.avatar?
        = image_tag @user.avatar.url(:medium)
        
      -else
        = image_tag 'user_missing_large.png'
    .small-10.medium-8.columns
      - unless @user.website.blank?
        %div
          %strong Website:
          = link_to @user.website, @user.website, target: :_blank
          %br/
          %br/
      %strong Balance:
      = raw "#{@user.latest_balance}#{tsign}"
      %br/
      - if user_signed_in?
        - if current_user != @user && current_user.latest_balance > 0
          %br/
          = link_to raw("Send #{tsign} to #{@user.username}"), send_temps_user_transfers_path(@user), class: [:button]
      - unless @user.instances_users.empty?
        %br
        .ethereum
          %strong Participated in:
          = pluralize(@user.instances_users.size, 'experiment')
      - unless @user.accounts.empty?
        %br/
        .ethereum
          %strong Ethereum accounts:
          - @user.accounts.each do |account|
            %p= link_to account.address, "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/token/#{Figaro.env.contract_address}?a=#{account.address}", target: :_blank

      .subsection
        %div
          %strong ID cards:
          .info
            - if @user.nfcs.empty?
              %em No ID cards yet
            - else
              - @user.nfcs.each do |card|
                .row
                  .small-12.columns
                    = card.tag_address

      - if user_signed_in?
        - if current_user.has_role? :admin
          %br/
          .ethereum
            %strong Email:
            = @user.email
            %br/ 
            %br/
            %strong Authentications:
            - @user.authentications.each do |auth|
              %p= "provider: #{auth.provider}, username: #{auth.username}, uid: #{auth.uid}"
  .row.expanded
    .small-10.medium-8.large-4.columns
      - if @user.proposals.empty?
        %em No proposals made.
      - else
        .title Proposals
        %ul
          - @user.proposals.order(created_at: :desc).each do |proposal|
            %li= link_to proposal.name, proposal
    .small-10.medium-8.large-4.columns
      - if @user.pledges.empty?
        %em No pledges made.
      - else
        .title Pledges
        %ul
          - @user.pledges.group_by{|x| x.item}.each do |pledge|
            %li
              = link_to pledge.first.name, pledge.first
              = raw "(#{pledge.last.sum(&:pledge).to_s}#{tsign})"
    .small-10.medium-8.large-4.columns
      - if @user.comments.empty?
        %em No comments made.
      - else
        .title Comments
        %ul
          - @user.comments.order(created_at: :desc).each do |comment|
            %li
              commented on
              = link_to comment.item.name, comment.item, target: :_blank
              = ": "
              .subtext
                ="'"
                = truncate_html sanitize(comment.content, tags: %w{strong b bold italic em u}), length: 80
                = "'"
              
  - unless @user.all_activities.empty?
    .row.expanded
      .small-12.columns
        .title Activity
    .row.expanded
      .small-12.columns
        %table#activities.activities
          %thead
            %tr
              %th Date
              %th Who
              %th Activity
              %th Subject
              %th
                = raw tsign
                %small= link_to '?', '#', onclick: "javascript:$('.occluded').slideToggle();return false"
                .occluded
                  = fa_icon('plus') + ": created"
                  %br/
                  = fa_icon('minus') + ": spent"
                  %br/
                  = fa_icon('smile-o') + "/" + fa_icon('frown-o') + ': pledged/withdrawn'
                  %br/
                  = fa_icon('arrows-h') + ": transferred"
              %th Info
          %tfoot
            %tr
              %td{:colspan => "4"}
              %td= @user.all_activities.select{|x| x.addition == 1}.sum{|x| x.value.to_i}  - @user.all_activities.select{|x| x.addition == -1}.sum{|x| x.value.to_i} + @user.all_activities.select{|x| x.description =~ /received/ && x.user == @user }.sum{|x| x.value.to_i}  - @user.all_activities.select{|x| x.description =~ /received/ && x.item == @user }.sum{|x| x.value.to_i}
              %td
          %tbody.page
            = render @user.all_activities.sort_by(&:created_at).reverse
      

    .row.expanded
      .small-5.columns.right.end
        - total = 0
        = fa_icon 'plus'
        - plus = @user.all_activities.select{|x| x.addition == 1}.sum{|x| x.value.to_i} 
        = plus
        - total += plus
        earned
        %br/
        = fa_icon 'minus'
        - minus =  @user.all_activities.select{|x| x.addition == -1}.sum{|x| x.value.to_i}
        = minus
        - total -= minus
        spent
        %br/
        = fa_icon 'plus'
        - plus2 = @user.all_activities.select{|x| x.description =~ /received/ && x.user == @user }.sum{|x| x.value.to_i}
        = plus2
        - total += plus2
        transferred from other users
        %br/
        = fa_icon 'minus'
        - minus2 = @user.all_activities.select{|x| x.description =~ /received/ && x.item == @user }.sum{|x| x.value.to_i}
        = minus2
        - total -= minus2
        transferred to other users
        %hr/
        
        = fa_icon 'smile-o'
        - pending =  @user.pending_pledges.sum(&:pledge)
        = pending
        pledged
        
        %hr
        %strong Totals:
        %br/
        = raw "#{total.to_s}#{tsign} in total"
        %br/
        = raw "#{pending.to_s}#{tsign} in escow, pledged to pending proposals"
        %br/
        %strong
          %u= raw "#{total - pending}#{tsign} available"
        

= content_for :jquery do
  :plain
    $('table.activities').stacktable()