.user_profile
  .row.expanded
    .small-12.columns
      .name
        = @user.display_name
        - unless @user.authentications.empty?
          - unless @user.authentications.select{|x| x.provider == 'facebook' }.empty?
            - if @user.show_facebook_link
              = link_to fa_icon('facebook'), "http://facebook.com/#{@user.authentications.select{|x| x.provider == 'facebook'}.first.uid}", target: :_blank
          - unless @user.authentications.select{|x| x.provider == 'twitter' }.empty?
            - if @user.show_twitter_link
              = link_to fa_icon('twitter'), "http://twitter.com/#{@user.authentications.select{|x| x.provider == 'twitter'}.first.username}", target: :_blank

      .since
        = "user since #{l @user.created_at.to_date, format: :long}"
        = " (#{time_ago_in_words(@user.created_at)})"
  .row.expanded
    .small-10.medium-4.columns
      - if @user.avatar?
        = image_tag @user.avatar.url(:medium)
        
      -else
        = image_tag 'user_missing_large.png'
    .small-10.medium-8.columns
      - unless @user.website.blank?
        %div
          %strong Website:
          = link_to @user.website, @user.website, target: :_blank
          %br/
          %br/
      %strong Balance:
      = raw "#{@user.latest_balance}#{tsign}"
      %br/
      - if user_signed_in?
        - if current_user != @user && current_user.latest_balance > 0
          %br/
          = link_to raw("Send #{tsign} to #{@user.username}"), send_temps_user_transfers_path(@user), class: [:button]
      - unless @user.accounts.empty?
        %br/
        .ethereum
          %strong Ethereum accounts:
          - @user.accounts.each do |account|
            %p= link_to account.address, "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/address/#{account.address}", target: :_blank
      - if user_signed_in?
        - if current_user.has_role? :admin
          %br/
          .ethereum
            %strong Authentications:
            - @user.authentications.each do |auth|
              %p= "provider: #{auth.provider}, username: #{auth.username}, uid: #{auth.uid}"
  .row.expanded
    .small-10.medium-8.large-4.columns
      - if @user.proposals.empty?
        %em No proposals made.
      - else
        .title Proposals
        %ul
          - @user.proposals.order(created_at: :desc).each do |proposal|
            %li= link_to proposal.name, proposal
    .small-10.medium-8.large-4.columns
      - if @user.pledges.empty?
        %em No pledges made.
      - else
        .title Pledges
        %ul
          - @user.pledges.order(created_at: :desc).each do |pledge|
            %li
              = link_to pledge.item.name, pledge.item
              = raw "(#{pledge.pledge.to_s}#{tsign})"
    .small-10.medium-8.large-4.columns
      - if @user.comments.empty?
        %em No comments made.
      - else
        .title Comments
        %ul
          - @user.comments.order(created_at: :desc).each do |comment|
            %li
              commented on
              = link_to comment.item.name, comment.item, target: :_blank
              .subtext
                ="'"
                = truncate_html comment.content, length: 80
                = "'"
              
  - unless @user.all_activities.empty?
    .row.expanded
      .small-12.columns
        .title Activity
    .row.expanded
      .small-12.columns
        %table#activities.activities
          %thead
            %tr
              %th Date
              %th Who
              %th Activity
              %th Subject
              %th
                = raw tsign
                %small= link_to '?', '#', onclick: "javascript:$('.occluded').slideToggle();return false"
                .occluded
                  = fa_icon('plus') + ": created"
                  %br/
                  = fa_icon('minus') + ": spent"
                  %br/
                  = fa_icon('smile-o') + "/" + fa_icon('frown-o') + ': pledged/withdrawn'
                  %br/
                  = fa_icon('arrows-h') + ": transferred"
              %th Info
          %tfoot
            %tr
              %td{:colspan => "4"}
              %td= @user.all_activities.select{|x| x.addition == 1}.sum{|x| x.value.to_i} - (@user.all_activities.select{|x| x.addition == -1}.sum{|x| x.value.to_i} + @user.all_activities.select{|x| x.description =~ /received/}.sum{|x| x.value.to_i})
              %td
          %tbody.page
            = render @user.all_activities.sort_by(&:created_at).reverse
            / - @user.all_activities.sort_by(&:created_at).reverse.each do |activity|
            /   %tr
            /     %td= l activity.created_at, format: :long
            /     %td= link_to activity.user.display_name, activity.user, target: :_blank
            /     %td= activity.description
            /     %td= raw activity.linked_name
            /     %td.temps
            /       - unless activity.value.nil?
            /         - if activity.addition == 1
            /           = fa_icon('plus')
            /         - if activity.addition == 0
            /           - if activity.description =~ /received/
            /             = fa_icon('arrows-h')
            /           - if activity.description =~ /pledged/
            /             = fa_icon('smile-o')
            /           - if activity.description =~ /withdrew/
            /             = fa_icon('frown-o')
            /         - if activity.addition == -1
            /           = fa_icon('minus')
            /         = raw ("#{activity.value}#{raw tsign}")
            /
            /     %td
            /       - if activity.ethtransaction
            /         = link_to activity.ethtransaction.txaddress[0..5] + "...", "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/tx/#{activity.ethtransaction.txaddress}", target: :_blank
            /

    .row.expanded
      .small-5.columns.right.end
        = fa_icon 'plus'
        = @user.all_activities.select{|x| x.addition == 1}.sum{|x| x.value.to_i} 
        earned
        %br/
        = fa_icon 'minus'
        = @user.all_activities.select{|x| x.addition == -1}.sum{|x| x.value.to_i}
        spent
        %br/
        = fa_icon 'plus'
        = @user.all_activities.select{|x| x.description =~ /received/ && x.user == @user }.sum{|x| x.value.to_i}
        transferred from other users
        %br/
        = fa_icon 'minus'
        = @user.all_activities.select{|x| x.description =~ /received/ && x.item == @user }.sum{|x| x.value.to_i}
        transferred to other users
        %hr/
        
        = fa_icon 'smile-o'
        = @user.pending_pledges.sum(&:pledge)
        pledged

= content_for :jquery do
  :plain
    $('table.activities').stacktable()