.meta
  %span.date= post.feed_date.strftime('%d.%m.%Y')
  = " // "
  %span.category= t(:announcements)
  = " // "
.title= link_to post.subject, "/announcements/#{post.slug}"
.body
  = raw truncate_html(sanitize(post.body, tags: %w{a b div ol li bold small strong i em br p blockquote img}, attributes: %w{src class href}), length: 750)
  = link_to t(:read_more), "/announcements/#{post.slug}", class: [:button]