= content_for :header do
  .home_header
    = link_to image_tag('temporary_logo.png'), '/'
  .top-bar
    = render partial: 'layouts/top_bar'


- unless user_signed_in?
  .front_blurb_stripe
    .inner
      .row.expanded
        .small-12.medium-9.columns.medium-centered
          Temporary is open every weekday as a free creative space for playing, working, socialising, or whatever else you'd like it to be. 
          = link_to 'Come and visit!', experiment_path('open-days')

      .row.expanded
        .small-12.medium-9.columns.medium-centered
          %br/
          On evenings & weekends we host special 
          %strong= link_to 'experiments', experiments_path
          %span>, proposed and organised by YOU! 
          %br/
          = link_to 'Find out more ...', page_path('how-does-it-work')

.news_container
  %article.calendar{class: cycle('odd', 'even')}
    .post
      .meta
        %span.date= Time.now.strftime("%B %Y")
        = "//"
        %span
          = link_to  "Calendar",  calendar_experiments_path
        = "//"
      #calendar.small-centered
        
      = link_to 'View full calendar', calendar_experiments_path, class: [:button]
      
  - unless @sticky.empty?
    %article.sizer{class: cycle('odd', 'even')}
      .post
        .meta
          %span.date= @sticky.first.published_at.strftime('%d.%m.%Y')
          = " // "
          %span.category= @sticky.first.category_text
          = " // "
        .title= link_to @sticky.first.title, @sticky.first
        - if @sticky.first.image?
          = image_tag @sticky.first.image.url
        .body= raw @sticky.first.body
         


        
  - unless @open_day.nil?
    - cache ['open_day_front', @open_day.start_at.strftime('%d.%m.%Y')] do 
      %article.open_day{class: cycle('odd', 'even')}
        .post
          .meta
            %span.date= @open_day.start_at.strftime('%d.%m.%Y')
            = " // "
            %span.category= link_to 'Experiments', experiments_path
            = " // "
          .title= link_to (@open_day.start_at.to_date == Time.now.to_date ? 'Current' : 'Next') + ' open day:', experiment_instance_path(@open_day.experiment, @open_day)
          = link_to experiment_instance_path(@open_day.experiment, @open_day) do
            .dates.text-center
              .month= l @open_day.start_at, format: "%B"
              .days
                .day= @open_day.start_at.day
                .times= @open_day.start_at.strftime("%H:%M") + " - " + @open_day.end_at.strftime("%H:%M")
          .body= raw simple_format(@open_day.description)

  - unless @sticky.size < 2        
    - @sticky.drop(1).each do |post|
      %article{class: cycle('odd', 'even')}
        .post
          .meta
            %span.date= post.published_at.strftime('%d.%m.%Y')
            = " // "
            %span.category= post.category_text
            = " // "
          .title= link_to post.title, post
          - if post.image?
            = image_tag post.image.url.gsub('development', 'production')
          .body= raw post.body
          

                

  

    
  - @feed.each do |post|
    - cache ["front_post", post, current_user] do
      - if post.class == Email
      
        %article{class: cycle('odd', 'even')}
          .post{class: post.class.to_s.downcase}
            .meta
              %span.date= post.sent_at.strftime('%d.%m.%Y')
              = " // "
              %span.category Announcements
              = " // "
            .title= link_to post.subject, "/announcements/#{post.slug}"
            .body
              = raw truncate_html(sanitize(post.body, tags: %w{a b bold strong i em br p blockquote img}, attributes: %w{src href}), length: 750)
              = link_to 'Read more...', "/announcements/#{post.slug}", class: [:button]

      - if post.class == Comment
        %article{class: cycle('odd', 'even')}
          .post.comment
            .meta
              %span.date= post.feed_date.strftime('%d.%m.%Y')
              = " // "
              %span.category= post.item.class.to_s + " news"
              = " // "
            .title= link_to post.item.name, post.item
            - if post.image?
              = image_tag post.image.url.gsub('development', 'production')
            .body
              .attribution
                = link_to post.user.display_name, post.user
                writes...

              .content
                %span.quote= raw "&ldquo;"
                = raw post.content
         

          
      - if post.class == Post
        %article{class: cycle('odd', 'even')}
          .post
            .meta
              %span.date= post.published_at.strftime('%d.%m.%Y')
              = " // "
              %span.category= post.category_text
              = " // "
            .title= link_to post.title, post
            - if post.image?
              = image_tag post.image.url.gsub('development', 'production')
            .body= raw post.body

      - if post.class == Instance
        %article.experiment_front{class: cycle('odd', 'even')}
          .post
            .meta
              %span.date= date_range(post.start_at, post.end_at)
              = "//"
              %span
                = "Experiment "
                = "##{post.sequence}"
              = "//"
          
            .title= link_to post.name, [post.experiment, post]
            - if post.image?
              .image= image_tag post.image.url(:medium)
            - elsif post.experiment.image?
              %p= image_tag post.experiment.image.url(:medium)
            - if post.in_future?
              .rsvp
                - if user_signed_in?
                  - if current_user.rsvpd?(post)
                    You are going!
                  - else
                    Are you going?
                    = link_to 'RSVP!', rsvp_experiment_instance_path(post.experiment, post), method: :post, class: [:button]
                - else
                  Are you going?
                  = link_to 'RSVP!',  [post.experiment, post], class: [:button]
              - unless post.rsvps.empty?
                .participants
                  = pluralize(post.rsvps.size, 'person') + ' has RSVPd'
            .body
              = truncate_html post.description, length: 500
              = link_to 'Read more...', [post.experiment, post], class: [:button]
            
      - if post.class == Proposal
        %article.proposal{class: cycle('odd', 'even')}
          .post
            .meta
              %span.date= post.created_at.strftime('%d.%m.%Y')
              = " // "
              %span.category Proposals
              = " // "
            .title= link_to post.name, post
            - unless post.images.empty?
              %p= image_tag post.images.first.image.url(:medium)
            .proposed_by= raw "Proposed by #{link_to post.user.display_name, post.user}"
            .pledge_count
              = raw "Currently pledged: #{post.pledged.to_s}#{tsign}"
            .needed
              - if post.has_enough?
                - if post.scheduled?
                  = "Scheduled!"
                - else
                  = "Will be considered at next organisational meeting"
                = link_to "View!", post, class: [:button, :small]
              - else
                = raw "#{post.needed_for_next - post.remaining_pledges}#{tsign} still needed"
                = link_to "Pledge!", post, class: [:button, :small]
            .body
              %span.quote= raw "&ldquo;"
              = truncate_html post.short_description, length: 300

            
= content_for :jquery do
  :plain
    $('#calendar').fullCalendar({
      editable: true,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'month',
      contentHeight: '400px',
      lang: '#{I18n.locale.to_s}',
      contentHeight: 'auto',
      firstDay: 1,
      fixedWeekCount: false,
      slotMinutes: 30,
      eventSources: [
        {
          url: '/experiments/calendar.json', 
          complete: function() {
            $grid.masonry('layout');
          }
        }
      ],
      displayEventEnd: {
        month: true,
        basicWeek: true,
        "default": true
      },
      timeFormat: 'H:mm',
      dragOpacity: "0.5",
      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
        return updateEvent(event);
      },
      eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
        return updateEvent(event);
      }
    });


    var updateEvent = function(the_event) {

    return $.update("/experiments/calendar/" + the_event.id, {
      event: {
        title: the_event.title,
        starts_at: "" + the_event.start,
        ends_at: "" + the_event.end,
        description: the_event.description
        }
      });
     
    };
    var $grid = $('.news_container').masonry({
      // options...
      itemSelector: 'article',
      columnWidth: 'article.sizer',
      percentPosition: true
    });
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
    