= content_for :header do
  .home_header
    = image_tag 'temporary_logo.png'  
  .top-bar
    = render partial: 'layouts/top_bar'




.news_container
  - unless @open_day.nil?
    %article.open_day{class: cycle('odd', 'even')}
      .post
        .meta
          %span.date= @open_day.start_at.strftime('%d.%m.%Y')
          = " // "
          %span.category= link_to 'Experiments', experiments_path
          = " // "
        .title= link_to 'Next open day:', experiment_instance_path(@open_day.experiment, @open_day)
        = link_to experiment_instance_path(@open_day.experiment, @open_day) do
          .dates.text-center
            .month= l @open_day.start_at, format: "%B"
            .days
              .day= @open_day.start_at.day
              .times= @open_day.start_at.strftime("%H:%M") + " - " + @open_day.end_at.strftime("%H:%M")
        .body= raw simple_format(@open_day.description)
        
  - @news.each do |post|
    %article{class: cycle('odd', 'even')}
      .post
        .meta
          %span.date= post.published_at.strftime('%d.%m.%Y')
          = " // "
          %span.category= post.category_text
          = " // "
        .title= link_to post.title, post
        - if post.image?
          = image_tag post.image.url.gsub('development', 'production')
        .body= raw post.body

  - unless @recent_proposals.empty?
    - @recent_proposals.each do |prop|
      %article.proposal{class: cycle('odd', 'even')}
        .post
          .meta
            %span.date= prop.created_at.strftime('%d.%m.%Y')
            = " // "
            %span.category Proposals
            = " // "
          .title= link_to prop.name, prop
          - unless prop.images.empty?
            %p= image_tag prop.images.first.image.url(:medium).gsub('development', 'production')
          .proposed_by= raw "Proposed by #{link_to prop.user.display_name, prop.user}"
          .pledge_count
            = raw "Currently pledged: #{prop.pledged.to_s}#{tsign}"
          .needed
            - if prop.has_enough?
              - if prop.scheduled?
                = "Scheduled!"
              - else
                = "Will be considered at next orgaisational meeting"
                
            - else
              = raw "#{@current_rate - prop.pledged}#{tsign} still needed"
            
          .body
            %big= raw "&ldquo;"
            = truncate_html prop.short_description, length: 300
            %big= raw "&rdquo;"