= content_for :header do
  .home_header
    = image_tag 'temporary_logo.png'  
  .top-bar
    = render partial: 'layouts/top_bar'




.news_container
  - @news.each do |post|
    %article{class: cycle('odd', 'even')}
      .post
        .meta
          %span.date= post.published_at.strftime('%d.%m.%Y')
          = " // "
          %span.category= post.category_text
          = " // "
        .title= link_to post.title, post
        - if post.image?
          = image_tag post.image.url
        .body= raw post.body
    