.calendar_view
  .row.expanded
    .small-12.columns
      %h1
        = t :experiments
      %p Temporary closed in September 2017, but you can browse the calendar of all experiments that took place during the year it was in operation.
  .row.expanded
    .small-12.columns
      = link_to fa_icon('list') + ' ' + t(:view_as_list), events_path, class: [:button]
      = link_to fa_icon('download') + ' ' + t(:download), calendar_events_path(format: 'ics'), class: [:button, :small]
  .row.expanded

    #calendar.small-centered
  
  = content_for :jquery do
    = render partial: 'calendar', formats: [:js]

    