= content_for :header do
  .home_header{style: @page.image? ? "background: url(#{@page.image.url}) no-repeat top center; background-size: cover" : false}
    = link_to  image_tag('temporary_logo.png'), '/', class: :logo
    = render partial: 'layouts/open_or_closed'
    .text-right.home-lang
      - if I18n.locale.to_s != 'fi'
        = link_to 'FIN', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'
      - else
        %strong FIN
      |
  
      - if I18n.locale.to_s != 'en'
        = link_to 'ENG', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'
      - else
        %strong ENG
  .top-bar
    = render partial: 'layouts/top_bar'
    
.submenu.hide-for-small-only
  %ul.menu.page
    %li= link_to 'News', posts_path
    %li{class: @page.slug == 'what-is-temporary' ? :active : false}= link_to t(:what_is_temporary), page_path('what-is-temporary')
    %li{class: @page.slug == 'how-does-it-work' ? :active : false}= link_to t(:how_does_it_work), page_path('how-does-it-work')
    %li{class: @page.slug == 'where-is-it' ? :active : false}= link_to t(:where_was_it), page_path('where-is-it')
    %li{class: @page.slug == 'what-is-this-t-everywhere' ? :active : false}= link_to raw(t(:whats_the_t_mean, tsign: tsign)), page_path('what-is-this-t-everywhere')
    %li{class: @page.slug == 'donate-to-temporary' ? :active : false}= link_to t(:donate_to_temporary), page_path('donate-to-temporary')
    
.page{class: @page.slug}
  .row.expanded
    .small-12.columns
      %h1= @page.title
  .row.expanded
    .small-10.medium-9.columns.body= raw @page.body