= content_for :header do
  .home_header{style: @page.image? ? "background: url(#{@page.image.url}) no-repeat top center; background-size: cover" : false}
    = link_to  image_tag('temporary_logo.png'), '/', class: :logo
    = render partial: 'layouts/open_or_closed'
  .top-bar
    = render partial: 'layouts/top_bar'
    
.submenu.hide-for-small-only
  %ul.menu.page
    %li= link_to 'News', posts_path
    %li{class: @page.slug == 'what-is-temporary' ? :active : false}= link_to 'What is Temporary?', page_path('what-is-temporary')
    %li{class: @page.slug == 'how-does-it-work' ? :active : false}= link_to 'How does it work?', page_path('how-does-it-work')
    %li{class: @page.slug == 'where-is-it' ? :active : false}= link_to 'Where is it?', page_path('where-is-it')
    %li{class: @page.slug == 'what-is-this-t-everywhere' ? :active : false}= link_to raw("What's the #{tsign} mean?"), page_path('what-is-this-t-everywhere')
    
.page{class: @page.slug}
  .row.expanded
    .small-12.columns
      %h1= @page.title
  .row.expanded
    .small-10.medium-9.columns.body= raw @page.body