.calendar_view
  .row.expanded
    .small-12.columns
      %h1
        = t :experiments
        
  .row.expanded
    .small-12.columns
      = link_to fa_icon('list') + ' ' + t(:view_as_list), experiments_path, class: [:button]
      = link_to fa_icon('download') + ' ' + t(:download), calendar_experiments_path(format: 'ics'), class: [:button, :small]
  .row.expanded

    #calendar.small-centered
  
  = content_for :jquery do
    = render partial: 'calendar', formats: [:js]

    