
.experiments_index
  .row.expanded
    .small-12.columns
      %h1
        = t :experiments
        = link_to fa_icon('calendar'), calendar_experiments_path
  .row.expanded#expandme.small-up-1.medium-up-2.large-up-4.xxlarge-up-5{:"data-equalizer" => '', :"data-equalize-by-row" => "true"}
    - only_one_openday = false
    - @experiments.each do |e|
  
      - if e.experiment.slug == 'open-days'
        - next if only_one_openday == true
        - only_one_openday = true
      - next unless e.show_on_website?
      - cache  e do 
        = render partial: 'instances/experiment_instance_column', locals: {exp: e, :"@experiment" =>  e.experiment }

    
  .row.expanded.section
    .small-12.columns
      %h1
        = t(:in_the_past) + '...'
      
  .row.expanded#expandme.small-up-1.medium-up-2.large-up-4.xxlarge-up-5{:"data-equalizer" => '', :"data-equalize-by-row" => "true"}
    - @past.each do |exp|
      - cache  exp do
        = render partial: 'instances/experiment_instance_column', locals: {exp: exp, :"@experiment" =>  exp.experiment}
  .row.expanded
    .small-12.columns
      %h2= link_to 'See all past experiments....', archive_experiments_path