= semantic_form_for [:admin, @post], html: {multipart: true} do |f|
  .row
    .small-10.medium-8.columns= f.semantic_errors :base

  .row
    %dl.tabs{"data-tab" => ""}
      - I18n.available_locales.each_with_index do |locale, i|
        %dd{:class => (i == 0 ? :active : false)}
          = link_to t(:locale_name, :locale => locale), "##{locale}"
    .tabs-content
      - I18n.available_locales.each_with_index do |locale, i|
        .content{:class => (i == 0 ? :active : false), :id => "#{locale}"}
          = f.globalize_fields_for locale do |en|
            .row
              .small-10.medium-8.columns
                %b= "Title of post in #{t :locale_name, :locale => locale}"
                = en.text_field :title  
            .row
              .small-10.medium-8.columns
                %b= "Content in #{t :locale_name, :locale => locale}"
                = en.text_area :body, class: :hidden
                #toolbar
                #quilleditor
                %small= link_to 'toggle html', '#', onclick: "javascript:$('#post_translations_attributes_1_body').fadeToggle();return false;"
  .row
    .small-6.columns
      - if f.object.image?
        = image_tag f.object.image.url(:thumb)
      = f.input :image, :hint => 'An image/icon for this post.'
    .row
      .small-10.medium-8.columns
        %label Post author
        .row
          .small-6.columns= f.input :user, :as => :select, :collection => User.all.order(:name), :label => false
    .row
      .small-10.medium-8.columns= f.input :sticky, hint: 'show at top of posts'
    .row
      .small-10.medium-8.columns= f.input :published
    .row
      .small-10.medium-8.columns= f.input :published_at, :as => :string, :input_html => {:class => "datetimepicker", value: f.object.new_record? ? '' : (f.object.published_at.nil? ? '' : f.object.published_at.strftime('%Y-%m-%d %H:%M'))}
  .row
    .small-10.medium-8.columns= f.submit 'Save', :class => [:button, :round]

= content_for :jquery do
  :plain
    initQuill('#quilleditor', '#post_translations_attributes_1_body');
    
    
    $('.datetimepicker').fdatetimepicker({ weekStart: 1 })