.submenu
  %ul.menu
    %li{class: (params[:filter] == false || params[:filter].nil?) && controller.action_name == 'index' ? :active : false}= link_to t(:all_active_proposals) + " (#{Proposal.active.size.to_s})", proposals_path
    %li{class: params[:filter] == 'needs_support' ? :active : false}= link_to raw(t(:needs_more_t) + " (#{@needs_support_count.to_s})"), proposals_path(filter: params[:filter] == 'needs_support' ? false : :needs_support)
    %li{class: params[:filter] == 'scheduled' ? :active : false}= link_to t(:scheduled) + " (#{@scheduled_count.to_s})", proposals_path(filter: params[:filter] == 'scheduled' ? false :  :scheduled)
    %li{class: params[:filter] == 'review' ? :active : false}= link_to t(:awaiting_review) + " (#{@review_count.to_s})", proposals_path(filter: params[:filter] == 'review' ? false : :review)
    %li{class: controller.action_name == 'archived' ? :active : false}= link_to t(:archived) + " (#{Proposal.archived.size.to_s})", archived_proposals_path
.proposals_index

  .row.expanded
    .small-12.medium-6.columns.medium-uncentered
      %h1 
        - if !params[:by_string].nil?
          = t(:search_results_for)
          %em= params[:by_string]
        - else
          - if @proposals.first.stopped == true
            = t :archived
          = t :proposals
    .small-12.medium-4.columns.medium-right
      = form_tag '/search_proposals', :method => :post do
        = text_field_tag 'by_string', params[:by_string],  placeholder: t(:search_ellipses)

  - if user_signed_in?
    .row.expanded
      .small-8.columns.small-centered.medium-uncentered.medium-12
        - if current_user.email =~ /^change@me/ 
          %p= t(:must_enter_valid_email)
        - else
          = link_to t(:propose_experiment), new_proposal_path, class: [:button, :large]
  - else
    .row.expanded
      .small-8.columns.small-centered.medium-uncentered.medium-12
        %p
          = t :log_in_or_join_to_propose
    
  .row.expanded
    .small-8.columns.small-centered.medium-uncentered.medium-12
      %p
         
        = t :t_needed_for_an_experiment_to_begin

        = raw (@current_rate.to_s + tsign)
        %small= link_to t(:why), "/pages/how-does-it-work#number_5", target: :_blank
        
  - if @proposals.methods.include?(:total_pages)
    .row.expanded
      .small-12.medium-6.columns.medium-uncentered= paginate @proposals
        
        
  - if @proposals.empty?
    .row.expanded
      .small-12.medium-6.columns.medium-uncentered
        %h4= t :no_matching_proposals
  - else
    %table.proposals
      %thead
        %tr
          %th= t :name
          %th= t :proposed_by
          %th= t :when
          %th.pledged
            = t(:pledged).capitalize

          %th= t :status
      %tbody
        - @proposals.each do |proposal|
          - cache [proposal, current_user] do
            %tr
              %td.name.sub
                = link_to proposal.name, proposal
                = link_to fa_icon('info-circle'), '#', :"data-open" => "proposal_#{proposal.id.to_s}", class: 'hide-for-small-only'

              %td
                .avatar= link_to image_tag(proposal.user.avatar.url(:thumb).gsub(/development/, 'production')), proposal.user
                .user= link_to proposal.user.display_name, proposal.user
                - if user_signed_in?
                  - if current_user == proposal.user || current_user.has_role?(:admin)
                    %br/
                    = link_to t(:edit_proposal), edit_proposal_path(proposal), class: [:button, :tiny], style: 'float: left; font-size: 0.7em; margin: 0.5rem 0;'
              %td
                .recurrence
                  - if proposal.recurrence == 2
                    - if proposal.intended_sessions == 0
                      = :multiple_meetings_proposed
                    - else  
                      %p= proposal.intended_sessions.to_s + " meetings proposed"
                      - unless proposal.intended_sessions == 0
                        %p

                          = raw t(:x_total_needed_for_complete, number: proposal.total_needed_with_recurrence_cached.to_s)
                    
                  - if proposal.recurrence == 3
                    = t :happens_regularly

                    - unless proposal.intended_sessions == 0
                      %p
                        = proposal.intended_sessions.to_s + " meetings proposed"
                      %p
                        = raw t(:x_total_needed_for_complete, number: proposal.total_needed_with_recurrence_cached.to_s)
                    
                  - if proposal.scheduled?    
                    - if proposal.recurrence != 1
                      - if proposal.instances.first.experiment.instances.future.or(proposal.instances.first.experiment.instances.current).empty?
                        - if proposal.stopped == true
                          %p= t(:experiment_completed)
                        - else
                          %p= t(:none_currently_upcoming)
                      - else
                        %p
                          - if proposal.instances.first.experiment.instances.future.size > 1
                            = link_to fa_icon('calendar'), '#', onclick: "javascript:$('ul#upcoming_events_#{proposal.id.to_s}').slideToggle();return false;"
                          
                          = t(:x_upcoming_next_at, number: proposal.instances.first.experiment.instances.future.size.to_s)
                     


                        %ul
                          - a = proposal.instances.first.experiment.instances.future.or(proposal.instances.first.experiment.instances.current).order(:start_at).first
                          %li
                            = link_to a.name, experiment_instance_path(a.experiment, a)
                            %br/
                            %em= date_range(a.start_at, a.end_at)
                      
                    
                        %ul.hidden_list{id: "upcoming_events_#{proposal.id.to_s}"}
                          - proposal.instances.first.experiment.instances.future.or(proposal.instances.first.experiment.instances.current).order(:start_at).each do |i|
                            %li
                              = link_to i.name, experiment_instance_path(i.experiment, i)
                              %br/
                              %em= date_range(i.start_at, i.end_at)
                          
                          
                    - else 
                      - unless proposal.instances.first.experiment.instances.published.future.empty?
          
                        %br/
                        %em Next at:
                        %ul
                          - proposal.instances.first.experiment.instances.published.future.order(:start_at).each do |i|
                            %li
                              = link_to i.name, experiment_instance_path(i.experiment, i)
                              %em= date_range(i.start_at, i.end_at)
                    - unless proposal.instances.past.empty?
                      %p &nbsp;
                      %p= t(:last_meeting)
                      %span{class: proposal.instances.past.order(:end_at).last.cancelled ? :cancelled : false }= link_to proposal.instances.past.order(:end_at).last.name, [proposal.instances.first.experiment, proposal.instances.past.order(:end_at).last]
                      %br/
                      
                      %em= date_range(proposal.instances.past.order(:end_at).last.start_at, proposal.instances.past.order(:end_at).last.end_at)
                      - if proposal.instances.past.order(:end_at).last.cancelled == true
                        .cancelled
                          = t :cancelled
                      - else
                        .attended
                          = (proposal.instances.past.order(:end_at).last.users.size + proposal.instances.past.order(:end_at).last.onetimers.unclaimed.size).to_s
                          = t(:participant, count: proposal.instances.past.order(:end_at).last.users.size + proposal.instances.past.order(:end_at).last.onetimers.unclaimed.size )
                          
              %td.pledge_info
                - if proposal.stopped == true || (proposal.scheduled? && (!proposal.recurs? || proposal.intended_sessions == proposal.published_instances))
                  =  raw(proposal.pledged_cached.to_s + tsign)
                  %small
                    = raw t(:out_of_y, y: proposal.total_needed_with_recurrence_cached)

                - else
                  = raw(proposal.remaining_pledges.to_s + tsign)
                  %small
                    = raw t(:out_of_y, y: proposal.recurrence == 2 && proposal.require_all == true ?  proposal.total_needed_with_recurrence : proposal.needed_for_next)

                %a{:"data-open" => "proposal_pledge_info_#{proposal.id.to_s}"}= fa_icon('info-circle')
                .metadata
                  %em
                    = proposal.pledges.map(&:user).uniq.size
                    = t(:person, count: proposal.pledges.map(&:user).uniq.size)
                    = t(:pledged)
                .reveal{id: 'proposal_pledge_info_' + proposal.id.to_s, :"data-reveal" => ''}= render partial: 'pledges_overlay', locals: {proposal: proposal}


                    

                .pledge_buttons
                  - unless proposal.stopped == true
                    - if proposal.recurs?
 
                      - if user_signed_in? && proposal.pledgeable?
                        - if current_user.active_pledge?(proposal)
                          = link_to t(:edit_pledge), edit_proposal_pledge_path(proposal,current_user.pledges.unconverted.find_by(item:proposal) ), class: [:button, :small]
                        - elsif current_user.has_pledged?(proposal) && proposal.pledgeable?
                          = link_to raw(t(:pledge_more_t)), new_proposal_pledge_path(proposal), class: [:button, :small]                      
                        - else
                          = link_to raw(t(:pledge_temps)), new_proposal_pledge_path(proposal), class: [:button, :small]
                      - elsif proposal.pledgeable?
                        = link_to raw(t(:pledge_temps)), page_path('why-join'), class: [:button, :small]

              
                    - else
                      - if user_signed_in? && proposal.pledgeable?
                        - unless proposal.stopped? || (proposal.scheduled? && proposal.instances.published.future.empty?)
                          - if current_user.active_pledge?(proposal)
                            = link_to t(:edit_pledge), edit_proposal_pledge_path(proposal,current_user.pledges.unconverted.where(item:proposal).first), class: [:button, :small]
                          - elsif current_user.has_pledged?(proposal) && proposal.pledgeable?
                            = link_to raw(t(:pledge_more_t)), new_proposal_pledge_path(proposal), class: [:button, :small]
                          -elsif proposal.pledgeable?
                            = link_to raw(t(:pledge_temps)), new_proposal_pledge_path(proposal), class: [:button, :small]
                      - elsif user_signed_in? && !proposal.pledgeable?
                        - if current_user.active_pledge?(proposal)
                          = link_to t(:edit_pledge), edit_proposal_pledge_path(proposal,current_user.pledges.unconverted.where(item:proposal).first), class: [:button, :small]
                        
                - if user_signed_in?
                  - if current_user.has_pledged?(proposal)
                    .my_pledge
                      - unless current_user.pending_pledges.where(item:proposal).empty?
                        = raw(t(:you_pledged, amount: current_user.pending_pledges.where(item:proposal).sum(&:pledge)) + tsign)
                      - unless current_user.spent_pledges.where(item:proposal).empty?
                        %br/
                        = raw(t(:you_pledged, amount: current_user.spent_pledges.where(item:proposal).sum(&:pledge)) + tsign)
              

              %td
                - if proposal.proposalstatus.nil?
                  - if proposal.scheduled?
            
                    - if proposal.recurs?
                      - if proposal.instances.current.or(proposal.instances.future).empty?
                        - if proposal.intended_sessions == 0
                          - if proposal.remaining_pledges_cached >= proposal.needed_for(proposal.published_instances + 1 )
                            .status= t :ready_to_schedule_but_accepting_more_pledges
                          - else
                            .status= t :needs_more_t_to_continue

                              
                        - elsif proposal.intended_sessions.size > proposal.published_instances
                          - if proposal.remaining_pledges_cached < proposal.needed_for_next
                            .status= t :needs_more_t_to_continue

                            
                        - else
                          .status= t :pledging_completed
                      - else
                        .status= t :scheduled

                  
                    - elsif proposal.instances.current.or(proposal.instances.future).empty?
                      .status= t :completed
                    - else
                      .status= t :scheduled
                    - if !proposal.next_instance.nil?
                      - if proposal.next_instance.end_at < Time.current
                        = link_to proposal do
                          = t :error
                      - else
                        = link_to proposal do
                  
                          - if proposal.recurs?
                            - if proposal.intended_sessions == 0 || proposal.pledged_cached < proposal.total_needed_with_recurrence_cached
                              .status.below= t :but_accepting_more_pledges
                        - if proposal.recurs?
                          .recurrence
                            - if proposal.intended_sessions == 0
                              - if (proposal.needed_for_next - proposal.remaining_pledges_cached) > 0 
                                = raw t(:x_needed_to_schedule_next, amount: (proposal.needed_for_next - proposal.remaining_pledges_cached), meeting_number: proposal.published_instances + 1)
                              - else
                                = t(:enough_temps_to_schedule_x_more, number: proposal.number_that_can_be_scheduled_cached.to_s)
                                
                            - elsif  proposal.intended_sessions > proposal.published_instances 
                              - if (proposal.needed_for_next - proposal.remaining_pledges_cached) > 0 
                                = raw t(:x_needed_to_schedule_next, amount: (proposal.needed_for_next - proposal.remaining_pledges_cached), meeting_number: proposal.published_instances + 1) 
                              - else
                                = t(:enough_temps_to_schedule_x_more, number: proposal.number_that_can_be_scheduled_cached.to_s)

                    

                            - elsif (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached) == 0
                              %p= t :all_required_pledged_or_spent

                    
                            - else
                              - if (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached) <  0
                                = raw t(:more_than_enough)
                              - else
                                = raw t(:x_total_needed_for_y, number: (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached), proposed: proposal.intended_sessions)
                        

                    - else 
                      - if proposal.instances.first.experiment.end_date < Time.current && proposal.instances.first.experiment.instances.future.empty?
                        - if proposal.recurs?
                          - if true == true
                            -#= link_to proposal do
                            -#  .status.completed and accepting more pledges
                            .recurrence
                              - if proposal.intended_sessions > proposal.published_instances || proposal.intended_sessions == 0 
                                - if (proposal.needed_for_next - proposal.remaining_pledges_cached) > 0 && !proposal.instances.published.empty?
                                  = raw(t(:x_needed_to_schedule_next, amount:   (proposal.needed_for_next - proposal.remaining_pledges_cached), meeting_number: proposal.published_instances + 1))

                    

                              - elsif (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached) == 0
                                %p= t :all_required_pledged_or_spent

                    
                              - else
                                = raw t(:x_total_needed_for_y, number: (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached), proposed: proposal.intended_sessions)
                               
                        
                      - elsif proposal.instances.first.experiment.instances.future.empty?
                        - if proposal.stopped
                          = link_to proposal do
                            .status= t :completed
                        - elsif proposal.has_enough_cached

                          = link_to proposal do
                            .status
                              = t :awaiting_review
                              - if proposal.recurs?
                                - if proposal.intended_sessions == 0 || proposal.pledged_cached < proposal.total_needed_with_recurrence_cached
                                  = t :and_accepting_more_pledges
                      - else
                        = link_to proposal do
                          .status= t :needs_more_support
                        .status_info
                          = raw(t(:x_needed_for_first_or_next, amount: (proposal.needed_for_next - proposal.remaining_pledges_cached), first_or_next:  (proposal.recurrence == 2 || proposal.recurrence == 3 ? (proposal.instances.published.empty? ? t(:first_session) : t(:next_session)) : t(:it))))

              

                    -#%em= date_range proposal.instances.first.start_at, proposal.instances.first.end_at  
                  - else 
                    - if proposal.has_enough_cached
                      = link_to proposal do
                        .status
                          = t :awaiting_review
                          - if proposal.recurs?
                            - if proposal.intended_sessions == 0 || proposal.pledged_cached < proposal.total_needed_with_recurrence_cached
                              = t :but_accepting_more_pledges
                      .status_info

                        - if proposal.recurs?
                          - if proposal.recurrence == 2 && proposal.require_all == true
                            = t :enough_to_schedule_complete
                          - else
                            = raw(t(:enough_temps_to_schedule_x_more_of, number: proposal.number_that_can_be_scheduled_cached, meeting: t(:meeting, count: proposal.number_that_can_be_scheduled_cached ) , proposed: (proposal.intended_sessions == 0 ? '' : t(:of_proposed, number: proposal.intended_sessions) )))

                  
                
                
                      .status_info
                        %strong= t :will_be_reviewed
                        - if @next_meeting.nil?
                          %em= t :none_currently_scheduled
                        - else
                          = link_to @next_meeting.name, experiment_instance_path(@next_meeting.experiment, @next_meeting), target: :_blank
                    - else
                      = link_to proposal do
                        .status= t :needs_more_support
                      .recurrence
                        - if (proposal.needed_for_next - proposal.remaining_pledges_cached < 0) && proposal.pledges.map(&:user).uniq.size == 1
                          = raw t(:needs_more_people)
                        - else
                          = raw(t(:x_needed_for_first_or_next, amount: (proposal.needed_for_next - proposal.remaining_pledges_cached), first_or_next: (proposal.recurs?  ?   (proposal.instances.published.empty? ? (proposal.recurrence == 2 && proposal.require_all == true ? t(:complete_experiment) : t(:first_session) ) : t(:next_session) ) : t(:it))))

                        - if proposal.recurs?
                          - if proposal.recurrence == 3 && proposal.intended_sessions == 0 && !proposal.instances.published.empty?
                            .recurrence
                              = t :proposal_has_no_fixed_end

                      - if proposal.recurs?
                        .recurrence
                          - if proposal.intended_sessions > proposal.published_instances
                            - if (proposal.needed_for_next - proposal.remaining_pledges_cached) > 0 && !proposal.instances.published.empty?
                              - unless proposal.intended_sessions == 0
                                = raw "#{(proposal.needed_for_next - proposal.remaining_pledges_cached)} more #{tsign} needed to schedule next meeting (##{proposal.published_instances + 1})"

                    

                          - elsif (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached) == 0
                            %p
                              = raw(t(:all_required_pledged_or_spent))

                          - else
                            - unless proposal.intended_sessions == 0
                              = raw(t(:x_total_needed_for_y, number: (proposal.total_needed_with_recurrence_cached - proposal.spent - proposal.remaining_pledges_cached), proposed:  proposal.intended_session))
              
                - else
                  %strong
                    %em= proposal.proposalstatus.name
                .comment_status
                  - if proposal.comments_and_pledges.empty? 
                    %em= t :no_comments_or_pledges_yet
                  - else
                
                    %em
                  
                  
                      - if proposal.comments.empty?
                        = t :no_comments_yet
                      - else
                        = t(:comments_on_proposal, number: proposal.comments.size, comment: t(:comment, count: proposal.comments.size) )
                      %br/
                      = raw t(:last_pledge_or_comment_by, item_type: t(proposal.comments_and_pledges.last.class.to_s.downcase.to_sym, count: 1), person: link_to(proposal.comments_and_pledges.last.user.display_name, proposal.comments_and_pledges.last.user, target: :_blank))
                      = time_ago_in_words(proposal.comments_and_pledges.last.created_at) + ' '  + t(:ago)
                  
                  
            .reveal.occluded[proposal]{:"data-reveal" => ''}= render partial: 'proposal_overlay', locals: {proposal: proposal}
          %tr.border_row
            %td.border{colspan:  5} &nbsp;
          
    - if @proposals.methods.include?(:total_pages)
      .row.expanded
        .small-12.medium-6.columns.medium-uncentered= paginate @proposals
   
= content_for :jquery do
  :plain
    $('table.proposals').cardtable();