.admin_dashboard
  .row.expanded
    .small-12.columns
      - if @missing_transactions.empty?
        No missing transactions.
      - else
        %h3 Missing blockchain transactions
        %p The following transactions failed to even get as far as being submitted to the blockchain. Please attempt to resubmit them.
      
        %table
          %thead
            %tr
              %th Type
              %th Descrpition
              %th Value
              %th hash
              %th When?
              %th
          %tbody
            - @missing_transactions.each do |mt|
              %tr
                %td
                  = mt.addition == 1 ? 'Mint' : (mt.addition == -1 ? 'Spend' : '--error--')
                %td
                  - unless mt.sentence.blank?
                    = raw mt.sentence
                    - unless mt.instances_user.nil?
                      = " (#{mt.instances_user.visit_date.to_s})"
                  - else
                    %strong Orphaned!
                %td
                  
                %td
                  
                %td
                  = time_ago_in_words(mt.created_at) + ' ago'
                %td
                  - unless mt.instances_user.nil?
                    = link_to 'Re-submit', "/admin/#{mt.instances_user.id.to_s}/resubmit", method: :post, class: [:button, :tiny, :secondary]
                  - if can? :delete, mt
                    = link_to 'Delete', [:admin, mt], method: :delete, data: {confirm: 'are you sure?'}, class: [:button, :tiny, :alert]
  .row.expanded
    .small-12.columns
      - if @failed_transactions.empty?
        No failed transactions.
      - else
        %h3 Failed blockchain transactions
        %p The following transactions failed to write to the blockchain. Please attempt to resubmit them if they are over 30 minutes old.
      
        %table
          %thead
            %tr
              %th Type
              %th Descrpition
              %th Value
              %th hash
              %th When?
              %th
          %tbody
            - @failed_transactions.each do |ft|
              %tr
                %td
                  = ft.id.to_s
                  = ft.transaction_type_id == 1 ? 'Mint' : (ft.transaction_type_id == 2 ? 'Spend' : (ft.transaction_type_id == 3 ? 'Transfer' : '--error--'))
                %td
                  - if ft.activity
                    = raw ft.activity.sentence
                  - else
                    - unless ft.source_account.nil?
                      From:
                      = Account.find_by(address: ft.source_account).user.display_name unless Rails.env.development?
                      %br/
                    - unless ft.recipient_account.nil?
                      To:
                      = Account.find_by(address: ft.recipient_account).user.display_name rescue ''
                %td
                  - if ft.transaction_type_id == 1
                    = "+" + ft.value.to_s
                  - elsif ft.transaction_type_id == 2
                    = "-" + ft.value.to_s
                  - else
                    = ft.value
                %td
                  = link_to ft.txaddress[0..5] + "...", "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/tx/#{ft.txaddress}", target: :_blank
                %td
                  = ft.timeof.utc
                  = time_ago_in_words(ft.timeof) + ' ago'
                %td
                  - if can? :delete, ft
                    = link_to 'Delete', [:admin, ft], method: :delete, data: {confirm: 'Are you sure?'}, class: [:button, :tiny, :alert]
                  - unless ft.activity.nil?
                    - unless ft.activity.instances_user.nil?
                      = link_to 'Re-submit', "/admin/#{ft.activity.instances_user.id.to_s}/resubmit", method: :post, class: [:button, :tiny, :secondary]
                    - if ft.activity.item.class == Credit
                      = link_to 'Re-submit', "/admin/credits/#{ft.activity.item.id.to_s}/resubmit", method: :get, class: [:button, :tiny, :secondary]
                    - if ft.transaction_type_id == 2
                      = link_to 'Re-spend', "/admin/#{ft.activity.id.to_s}/respend", method: :get, class: [:button, :tiny, :secondary]
                        