.transfer_dialogue
  .row.expanded
    .small-10.medium-6.columns
      %h1
        = t(:transfer_t)

        
      %p
        = t(:you_can_transfer_up_to, number: current_user.available_balance)

        
      = form_tag post_temps_user_transfers_path(@recipient), method: :post do
        %label.label
          = t(:how_many_temps_to_tip, user: @recipient.display_name)

        = text_field_tag :temps_to_send
        %label.label= t(:reason_for_transfer)
        = text_field_tag :reason
        = submit_tag t(:send), class: [:button]