<div class="activities_index">
  <div class="row expanded">
    <div class="small-12 columns">
      <h1>Activity</h1>
    </div>
  </div>
  <% if params[:user_id] %>
    <div class="row">
      <div class="small-8 columns small-centered">
        <h3>
          Showing all activity for user
          <%= @user.username %>
        </h3>
      </div>
    </div>
  <% end %>
  <div class="row expanded">
    <div class="small-12 columns">
      <table class="activities">
        <thead>
          <tr>
            <th>Date</th>
            <th>Who</th>
            <th>Activity</th>
            <th>Subject</th>
            <th>
              <%= raw tsign %>
            </th>
            <th>Info</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4">&nbsp;</td>
            <td><%= @activities.sum{|x| x.value.to_i} %></td>
            <td></td>
          </tr>
        </tfoot>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td>
                <%= l activity.created_at, format: :long %>
              </td>
              <td>
                <%= link_to activity.user.display_name, activity.user, target: :_blank %>
              </td>
              <td>
                <%= activity.description %>
              </td>
              <td>
                <%= activity.linked_name %>
              </td>
              <td>
                <%= raw ("#{activity.value}#{raw tsign}") %>
              </td>
              <td>
                <% if activity.ethtransaction %>
                  <%= link_to activity.ethtransaction.txaddress[0..5] + "...", "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/tx/#{activity.ethtransaction.txaddress}", target: :_blank %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>

            
        <!-- .row
        -->
        <!--   .small-8.columns.text-right
        -->
        <!--     %em= l activity.created_at, format: :long
        -->
        <!--     = activity.sentence.html_safe
        -->
        <!--   - unless activity.ethtransaction.nil?
        -->
        <!--     .small-2.columns.end
        -->
        <!--       %small= link_to activity.ethtransaction.txaddress, "https://testnet.etherscan.io/tx/#{activity.ethtransaction.txaddress}", target: :_blank
        -->
      </table>
    </div>
  </div>
</div>
