<div class="activities_index">
  <div class="row expanded">
    <div class="small-12 columns">
      <h1>Activity</h1>
      <P>internal is <%= Encoding.default_internal.to_s %></p>
        <p> external is <%= Encoding.default_external.to_s %></p>
        <p> HAML is <%= Haml::Template.options.to_s %></p>
      
    </div>
  </div>
  <% if params[:user_id] %>
    <div class="row">
      <div class="small-8 columns small-centered">
        <h3>
          Showing all activity for user
          <%= @user.username %>
        </h3>
      </div>
    </div>
  <% end %>
  <div class="row expanded">
    <div class="small-12 columns">
      <table class="activities">
        <thead>
          <th>Date</th>
          <th>Who</th>
          <th>Activity</th>
          <th>Subject</th>
          <th>
            <%= ENV['currency_symbol'] %>
          </th>
          <th>Info</th>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td>
                <%= l activity.created_at, format: :long %>
              </td>
              <td>
                <%= link_to activity.user.display_name, activity.user, target: :_blank %>
              </td>
              <td>
                <%= activity.description %>
              </td>
              <td>
                <%= activity.linked_name  rescue activity.encoding.to_s %>
              </td>
              <td>
                <%= "#{activity.value}#{ENV['currency_symbol']}" %>
              </td>
              <td>
                <% if activity.ethtransaction %>
                  <%= link_to activity.ethtransaction.txaddress[0..5] + "...", "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/tx/#{activity.ethtransaction.txaddress}", target: :_blank %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <!-- .row
        -->
        <!--   .small-8.columns.text-right
        -->
        <!--     %em= l activity.created_at, format: :long
        -->
        <!--     = activity.sentence.html_safe
        -->
        <!--   - unless activity.ethtransaction.nil?
        -->
        <!--     .small-2.columns.end
        -->
        <!--       %small= link_to activity.ethtransaction.txaddress, "https://testnet.etherscan.io/tx/#{activity.ethtransaction.txaddress}", target: :_blank
        -->
      </table>
    </div>
  </div>
</div>
