.activities_index
  .row.expanded
    .small-12.columns
      %h1 Activity
  - if params[:user_id]
    .row
      .small-8.columns.small-centered
        %h3
          Showing all activity for user
          = @user.display_name
  .row.expanded
    .small-12.columns
      %table.activities
        %thead
          %tr
            %th Date
            %th Who
            %th Activity
            %th Subject
            %th
              = raw tsign
              %small= link_to '?', '#', onclick: "javascript:$('.occluded').slideToggle();return false"
              .occluded
                = fa_icon('plus') + ": created"
                %br/
                = fa_icon('minus') + ": spent"
                %br/
                = fa_icon('smile-o') + "/" + fa_icon('frown-o') + ': pledged/withdrawn'
                %br/
                = fa_icon('arrows-h') + ": transferred"
            %th Info
        %tfoot
          %tr
            %td{:colspan => "4"}  
            %td
              = @activities.where(addition: 1).sum{|x| x.value.to_i} - @activities.where(addition: -1).sum{|x| x.value.to_i}
            %td
        %tbody
          - @activities.each do |activity|
            %tr
              %td
                = l activity.created_at, format: :long
              %td
                - if activity.onetimer

                  - if activity.onetimer.claimed == true
                    - if activity.onetimer.user.nil?
                      = activity.onetimer.inspect
                    - else
                      
                      = link_to activity.onetimer.user.display_name, activity.onetimer.user, target: :_blank
                  - else
                    anonymous person
                - else
                  = link_to activity.user.display_name, activity.user, target: :_blank
              %td
                = activity.description
              %td
                = raw activity.linked_name
              %td.temps
                - unless activity.value.nil?
                  - if activity.addition == 1
                    = fa_icon('plus')
                  - if activity.addition == 0
                    - if activity.description =~ /received/ 
                      = fa_icon('arrows-h')
                    - if activity.description =~ /pledged/
                      = fa_icon('smile-o')
                    - if activity.description =~ /withdrew/
                      = fa_icon('frown-o')
                  - if activity.addition == -1
                    = fa_icon('minus')
                  = raw ("#{activity.value}#{raw tsign}")
              %td
                - if activity.ethtransaction
                  = link_to activity.ethtransaction.txaddress[0..5] + "...", "https://#{Rails.env.development? ? 'testnet.' : ''}etherscan.io/tx/#{activity.ethtransaction.txaddress}", target: :_blank


= content_for :jquery do
  :plain
    $('table.activities').stacktable()