= semantic_form_for [:admin, @credit], html: {multipart: true, :'data-abide' => ''} do |f|
  .row
    .small-10.medium-5.columns
      = f.input :user, input_html: {:required => ''}
  .row
    .small-10.medium-5.columns= f.input :awarder, label: 'Awarded by:', input_html: {:required => '', value: current_user.id }
  .row
    .small-10.medium-5.columns= f.input :value, label: 'Amount of ' + ENV['currency_symbol']
  .row
    .small-10.medium-5.columns= f.input :rate, include_blank: false, input_html: {value: Rate.get_current.id }
  .row
    .small-10.medium-5.columns= f.input :description, input_html: {:required => '' }
  .row
    .small-10.medium-5.columns
      - if f.object.attachment?
        - if f.object.attachment.url =~ /(gif|jpg|jpeg|png)/i
          = image_tag f.object.attachment.url
        - else
          %small= link_to 'download', f.object.attachment.url, class: [:button, :small, :secondary]
      = f.input :attachment, label: 'Upload receipt or other proof'
  .row
    .small-10.medium-5.columns= f.input :notes
  .row
    .small-10.medium-5.columns= f.submit 'Save'   