.row
  .small-12.columns
    = link_to 'Create new credit', new_admin_credit_path, class: [:button]

.row
  .small-10.columns
    %table
      %thead
        %th Date
        %th Person
        %th Description
        %th Amount
        %th
      %tbody
        - @credits.each do |credit|
          %tr
            %td= l (credit.created_at)
            %td= credit.user.name
            %td= credit.description
            %td= credit.value
            %td
              - if can? :edit, credit
                = link_to 'Edit', edit_admin_credit_path(credit), class: [:button, :small]
              - if can? :destroy, credit  
                = link_to 'Delete', [:admin, credit], method: :delete, class: [:button, :alert, :small], data: {confirm: 'Are you sure?'}
          