/ Small Navigation
.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
  %a.logo-small.show-for-small-only{:href => "#"}
    %img{:src => "http://placehold.it/50x50?text=LOGO"}/
  %button.menu-icon{"data-toggle" => "", :type => "button"}
  .title-bar-title Menu
/ Medium-Up Navigation
%nav#nav-menu.top-bar
  .logo-wrapper.hide-for-small-only
    .logo
      = link_to image_tag('temporary_logo.png'), '/'
    .status_bar
      .api{class: @api_status == false ? 'unreachable' : 'ok' } Biathlon API
      .dapp{class: @dapp_status == false ? 'unreachable' : 'ok'} Node/Ethereum Dapp
      .geth{class: @geth_status == false ? 'unreachable' : 'ok'} Geth
      .geth{class: @parity_status == false ? 'unreachable' : 'ok'} Parity
  / Left Nav Section
  .top-bar-left
    %ul.vertical.medium-horizontal.menu
      %li= link_to 'Experiments', admin_experiments_path
      %li= link_to 'Proposals', admin_proposals_path
      - if can? :manage, Credit
        %li= link_to 'Credits', admin_credits_path
      -#%li= link_to 'Activity', activities_path
      %li= link_to 'Posts', admin_posts_path
      %li= link_to 'Pages', admin_pages_path
  / Right Nav Section
  .top-bar-right
    %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      - if user_signed_in?
        %li.has-submenu
          = link_to '#' do
            Balance:
            = raw (current_user.latest_balance.to_s + tsign)
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            %li= link_to 'Details', user_activities_path(current_user.slug)
            %li= link_to 'Redeem temporary tag', '/link_temporary'
      %li.has-submenu
        - if user_signed_in?
          = link_to current_user.name, '#'
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            - if current_user.has_role? :admin
              %li= link_to 'Admin', '/admin'
            %li= link_to 'Your account', edit_user_path(current_user)
            %li= link_to 'Sign out',  destroy_user_session_path, :method => :delete
        - else
          %a{:href => "#"} Sign in
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            %li= link_to 'via Twitter', '/users/auth/twitter'
            %li= link_to 'via Facebook', '/users/auth/facebook'

