
.top-bar-left
  %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
    %li.has-submenu
      = link_to t(:question_and_answers), '#',class: [:first, controller.controller_name == 'pages' ? :active : false]
      
      %ul.submenu.menu.vertical{"data-submenu" => ""}
        %li= link_to t(:what_is_temporary), page_path('what-is-temporary')
        %li= link_to t(:how_does_it_work), page_path('how-does-it-work')
        %li= link_to t(:where_is_it), page_path('where-is-it')
        %li= link_to t(:when_is_it_open), page_path('when-is-temporary-open')
        %li= link_to raw(t(:whats_the_t_mean, tsign: tsign)), page_path('what-is-this-t-everywhere')
        %li= link_to t(:how_do_i_get_temps), page_path('how-do-i-get-temps')
        %li= link_to t(:donate_to_temporary), page_path('donate-to-temporary')
        %li= link_to t(:news), posts_path
    %li{class: ['experiments', 'instances'].include?(controller.controller_name) ?  :active : false}= link_to t(:experiments), experiments_path
    %li{class: controller.controller_name == 'activities' ? :active : false}= link_to t(:activity_feed), activities_path
    %li{class: controller.controller_name == 'proposals' ? :active : false}= link_to t(:proposals), proposals_path
    %li= link_to t(:visit_us), page_path('where-is-it')
    %li{class: controller.controller_name == 'roombookings' ? :active : false}= link_to t(:book_the_back_room), roombookings_path

.top-bar-right
  %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
    %li.has-submenu
      - if user_signed_in?
        = link_to '#' do
          = current_user.display_name + ": "
          = raw (current_user.available_balance.to_s + tsign)
          - unless current_user.available_balance == current_user.latest_balance
            %small= raw "(#{current_user.latest_balance.to_s}#{tsign})"
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          - if current_user.has_role? :admin
            %li= link_to 'Admin', '/admin'
          %li= link_to t(:your_details), user_activities_path(current_user.slug)
          %li= link_to t(:your_profile), edit_user_path(current_user)
          %li= link_to t(:redeem_guest_ticket), '/link_temporary'
          %li= link_to t(:sign_out),  destroy_user_session_path, :method => :delete
      - else 
        = link_to t(:log_in_join), new_session_path(:user)
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          %li= link_to t(:sign_in), new_session_path(:user)
          %li= link_to t(:why_join), page_path('why-join')

