
.top-bar-left
  %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
    %li.has-submenu
      = link_to 'Questions & Answers', '#',class: [:first, controller.controller_name == 'pages' ? :active : false]
      
      %ul.submenu.menu.vertical{"data-submenu" => ""}
        %li= link_to 'What is Temporary?', page_path('what-is-temporary')
        %li= link_to 'How does it work?', page_path('how-does-it-work')
        %li= link_to 'Where is it?', page_path('where-is-it')
        %li= link_to raw("What's the #{tsign} mean?"), page_path('what-is-this-t-everywhere')
        %li= link_to 'News', posts_path
    %li{class: ['experiments', 'instances'].include?(controller.controller_name) ?  :active : false}= link_to 'Experiments', experiments_path
    %li{class: controller.controller_name == 'activities' ? :active : false}= link_to 'Activity', activities_path
    %li{class: controller.controller_name == 'proposals' ? :active : false}= link_to 'Proposals', proposals_path
    %li= link_to 'Visit us', page_path('where-is-it')
    %li{class: controller.controller_name == 'roombookings' ? :active : false}= link_to 'Book the back room', roombookings_path
/ Right Nav Section
.top-bar-right
  %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
    %li.has-submenu
      - if user_signed_in?
        = link_to '#' do
          = current_user.display_name + ": "
          = raw (current_user.available_balance.to_s + tsign)
          - unless current_user.available_balance == current_user.latest_balance
            %small= raw "(#{current_user.latest_balance.to_s}#{tsign})"
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          - if current_user.has_role? :admin
            %li= link_to 'Admin', '/admin'
          %li= link_to 'Details', user_activities_path(current_user.slug)
          %li= link_to 'Your profile', edit_user_path(current_user)
          %li= link_to 'Redeem guest ticket', '/link_temporary'
          %li= link_to 'Sign out',  destroy_user_session_path, :method => :delete
      - else 
        = link_to 'Log in/Join', new_session_path(:user)
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          %li= link_to 'Sign in', new_session_path(:user)
          %li= link_to 'Why join?', page_path('why-join')

