!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Temporary"
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata|Heebo|PT+Sans", :rel => "stylesheet"}/
    %meta{:content => "http://temporary.fi/icons/android-icon-192x192.png", :property => "og:image"}/
    %meta{:content => "Dear Facebook user, instead of clicking LIKE, why don't you actually visit the Temporary website and create an account and participate there?", :property => "og:description"}/
    %meta{:content => "Temporary is not on Facebook.", property: "og:title"  }
    = render partial: 'layouts/favicon'
    = stylesheet_link_tag   "application" 
    = javascript_include_tag "application"
    = csrf_meta_tags
    - unless Rails.env.development?
      :javascript
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//stats.temporary.fi/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      %noscript
        %p
          %img{:alt => "", :src => "//stats.temporary.fi/piwik.php?idsite=1", :style => "border:0;"}/
  %body
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= raw value
    #outer_container      
      %header
        / Small Navigation
        .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
          %a.logo-small.show-for-small-only{:href => "#"}
            = image_tag('temporary_logo.png')
          %button.menu-icon{"data-toggle" => "", :type => "button"}
          .title-bar-title
        / Medium-Up Navigation
        %nav#nav-menu.top-bar
          .row.expanded.logo.hide-for-small-only
            = link_to image_tag('temporary_logo.png'), '/'
          / Left Nav Section
          = render partial: 'layouts/top_bar'
      %section.main_container= yield 
      %footer= render partial: 'layouts/footer'
    :javascript
      $(document).ready(function() { #{yield :jquery} });
  