!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Temporary"
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata|Heebo|PT+Sans", :rel => "stylesheet"}/
    = stylesheet_link_tag   "application" 
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= raw value
    #outer_container      
      %header
        / Small Navigation
        .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
          %a.logo-small.show-for-small-only{:href => "#"}
            %img{:src => "http://placehold.it/50x50?text=LOGO"}/
          %button.menu-icon{"data-toggle" => "", :type => "button"}
          .title-bar-title Menu
        / Medium-Up Navigation
        %nav#nav-menu.top-bar
          .row.expanded.logo
            = link_to image_tag('temporary_logo.png'), '/'
          / Left Nav Section
          = render partial: 'layouts/top_bar'
      %section.main_container= yield 
      %footer= render partial: 'layouts/footer'
    :javascript
      $(document).ready(function() { #{yield :jquery} });
  