!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = display_meta_tags site: 'Temporary'
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata|Heebo|Noto+Sans", :rel => "stylesheet"}/
    - if controller.controller_name == 'surveys'
      %meta{:content => image_url('closing.jpg'), :property => "og:image"}/
      
      %meta{property: 'og:image:width', content: 1200}
      %meta{property: 'og:image:height', content: 628}
      %meta{:content => "Complete this survey about your experiences with culture in Helsinki and then attend Temporary's closing party, Friday, 1 September 2017.", :property => "og:description"}/
      %meta{:content => "Temporary closing survey", property: "og:title"  }/
    - elsif controller.controller_name == 'instances' && @instance.slug == 'closing-time'
      %meta{:content => image_url('closing.jpg'), :property => "og:image"}/
      
      %meta{property: 'og:image:width', content: 1200}
      %meta{property: 'og:image:height', content: 628}
      %meta{:content => "Temporary closes after one year. Come to the closing party, open to all members of the website who have completed our questionnaire about Temporary and cultural experiences in Helsinki. And help us design the next experiment, for early 2018!", :property => "og:description"}/
      %meta{:content => "Temporary: Closing Time 1.9.2017", property: "og:title"  }/
    - else
      %meta{:content => "http://temporary.fi/icons/ms-icon-310x310.png", :property => "og:image"}/
      %meta{property: 'og:image:width', content: 310}
      %meta{property: 'og:image:height', content: 310}
      %meta{:content => "Temporary closes on 1 September 2017. A followup project is planned for 2018 that will continue being a decentralised platform for culture production and open workspace. See the Temporary site for info on how to become part of it.", :property => "og:description"}/
      %meta{:content => "Temporary did not maintain a centralised Facebook page.", property: "og:title"  }/
      
    = render partial: 'layouts/favicon'
    = stylesheet_link_tag   "application" 
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= raw value
    #outer_container      
      %header
        
        .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
          %a.logo-small.show-for-small-only{:href => "#"}
            = image_tag(image_path('temporary_logo.png'))
            = render partial: 'layouts/open_or_closed'
            .top-bar-left.lang
              - if I18n.locale.to_s != 'fi'
                = link_to 'FIN', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'
              - else
                %strong FIN
              |
              
              - if I18n.locale.to_s != 'en'
                = link_to 'ENG', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'
              - else
                %strong ENG
           
          %button.menu-icon{"data-toggle" => "", :type => "button"}
          .title-bar-title
        / Medium-Up Navigation
        %nav#nav-menu.top-bar
          .row.expanded.logo.hide-for-small-only
            = link_to image_tag(image_path('temporary_logo.png')), '/', class: :logo
            = render partial: 'layouts/open_or_closed'
            .top-bar-right.lang
              - if I18n.locale.to_s != 'fi'
                = link_to 'FIN', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'
              - else
                %strong FIN
              |
              
              - if I18n.locale.to_s != 'en'
                = link_to 'ENG', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'
              - else
                %strong ENG
          / Left Nav Section
          = render partial: 'layouts/top_bar'
      %section.closing_banner
        .row.expanded
          .small-12.columns.text-center
            %h3
              = t(:temporary_ends_1_september)
              = link_to t(:more_info), '/announcements/it-was-called-temporary-for-a-reason'
      - if user_signed_in? && controller.controller_name != 'surveys'
        - if current_user.survey.nil?
          %section.survey_top_banner
            .row.expanded
              .small-12.columns.small-centered.text-center
                %h4= link_to t(:please_take_our_survey), '/surveys/new'
        - elsif !current_user.survey.completed 
          %section.survey_top_banner
            .row.expanded
              .small-12.columns.small-centered.text-center
                %h4= link_to t(:you_have_started_the_survey), '/surveys/new'        
      %section.main_container= yield 
      %footer= render partial: 'layouts/footer'
    :javascript
      $(document).ready(function() { 
        #{yield :jquery} 
      });
  