!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Temporary"
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans", :rel => "stylesheet"}/
    = stylesheet_link_tag   "application" 
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #outer_container
      - if flash
        - flash.each do |key, value|
          .alert.text-center{ :class => "alert-#{key}" }
            %strong= raw value
      %header= yield :header
      %section.main_container= yield 
      %footer= render partial: 'layouts/footer'